:root {
    --color-primary: #FFD449;
    --color-highlight: #ffecb9;
    --color-highlight-title: #FF8C00;
    --font-size-mlarge: 8rem;
    --font-size-medium: 2.5rem;
    --font-size-small: 2rem;
}

header {
    background-color: var(--color-primary);
    width: 100%;
    position: absolute;
    top: 0;
}

.btn-regresar {
    width: 17rem;
    font-size: var(--font-size-small);
    margin: 0.4rem;
    transition: background-color 0.5s ease;
    border-radius: 1.5rem;
}

.btn-regresar:hover,
.btn-regresar:focus {
    outline: unset;
    background-color: #FF8C00;
}

h1 {
    font-size: var(--font-size-mlarge);
    border-radius: 1.5rem;
}

/* == MENU RANKING == */
table {
    background-color: #fff;
    padding: 2rem;
    width: 100%;
    font-size: var(--font-size-medium);
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 1.5rem;
}

caption {
    font-weight: bold;
    font-size: 1.2em;
    background-color: var(--color-primary);
    padding: 0.5rem;
    text-align: center;
}

th {
    background-color: var(--color-primary);
    padding: 10px;
    border-bottom: 0.1rem solid #ddd;
}

th:hover,
th:focus,
caption:focus,
caption:hover {
    background-color: var(--color-highlight-title);
    outline: unset;
}

tr:hover {
    background-color: var(--color-highlight);
}

td {
    padding: 1.2rem 1rem;
    border-bottom: 0.1rem solid #ddd;
}

td:focus,
td:hover {
    background-color: var(--color-highlight);
    outline: unset;
}

/* == MENU COMO JUGAR == */
#instrucciones {
    /* TODO: Cambiar color de fondo */
    background-color: #fff;
    margin: 0 auto;
    width: 85%;
    padding: 1rem 3rem;
    border-radius: 1.5rem;
}

h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

h3:focus,
h3:hover,
p:focus,
p:hover,
li:focus,
li:hover {
    outline: unset;
    text-shadow: 0 0.5rem 1rem var(--color-black);
}

p {
    margin: 0;
}

ol {
    margin: 0;
    padding: 0 0 0 3rem;
}

.btn-animacion {
    transition: transform 0.3s ease;
}

.btn-animacion:hover,
.btn-animacion:focus {
    transform: scale(1.03);
}
