:root {
    --font-family: "Architects Daughter", serif;
    --color-primary: #FFD449;
    --color-neutral: #909090;
    --color-neutral-light: #cacaca;
    --color-bg-pause: #e6e4e2;
    --color-black: #000;
    --font-size-large: 4rem;
    --font-size-medium: 2.5rem;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

main {
    background-color: var(--color-bg-pause);
    width: 50%;
    border-radius: 1.5rem;
    padding: 2rem 2rem 1rem 2rem;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1 {
    font-size: var(--font-size-large);
    margin: 0 0 0 1rem;
}

h1:focus {
    color: var(--color-black);
    text-shadow: 0 0.5rem 1rem var(--color-black);
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
    font-size: var(--font-size-medium);
}

.boton {
    margin: 1rem 0;
    border-radius: 1.5rem;
}

.boton:hover,
.boton:focus {
    outline: unset;
    background-color: #d4d4d4;

}

/*  == MENU DE INSTRUCCIONES POR CADA JUEGO == */

#instruccion:focus {
    outline: unset;
    text-shadow: 0 0.5rem 1rem var(--color-black);
    border-radius: 1.5rem;
}

.boton-instruccion {
    margin: 0;
}

#titulo-instruccion {
    height: 7rem;
}

/* == MENU JUEGO FIN == */
#estadisticas {
    font-size: var(--font-size-medium);
}

.botones-final {
    display: flex;
    justify-content: space-around;
    /* margin-top: 2rem; */
}

.boton {
    padding: 0.5rem 2.5rem;
}

#silenciar {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border: none;
    border-radius: 50%;
    padding: 0.75rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.btn-animacion {
    transition: transform 0.3s ease;
}

.btn-animacion:hover,
.btn-animacion:focus {
    transform: scale(1.03);
}

#silenciar:focus {
    outline: 2px solid #3498db;
    outline-offset: 2px;
}

.resaltar:focus {
    color: var(--color-black);
    text-shadow: 0 0.5rem 1rem var(--color-black);
    outline: none;
}
