:root {
    --color-primary: #FFD449;
    --color-neutral: #909090;
    --font-size-large: 4rem;
    --font-size-medium: 2.5rem;
    --color-black: #282c34;
    --font-family: "Architects Daughter", serif;
    --color-bg-pause: #e6e4e2;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

main {
    background-color: var(--color-bg-pause);
    width: 55rem;
    border-radius: 0.5rem;
    padding: 2rem 2rem 1rem 2rem;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1 {
    font-size: var(--font-size-large);
    margin: 0 0 0 1rem;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
    font-size: var(--font-size-medium);
}

button {
    width: 40rem;
    margin: 2.5rem auto;
    display: block;
    background-color: unset;
}
