:root {
    --color-primary: #FFD449;
    --color-neutral: #909090;
    --font-size-large: 4rem;
    --font-size-medium: 2.5rem;
    --color-black: #282c34;
    --font-family: "Architects Daughter", serif;
    --color-bg-pause: #e6e4e2;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

main {
    background-color: var(--color-bg-pause);
    width: 50%;
    border-radius: 0.5rem;
    padding: 2rem 2rem 1rem 2rem;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1 {
    font-size: var(--font-size-large);
    margin: 0 0 0 1rem;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
    font-size: var(--font-size-medium);
}

.boton {
    margin: 2rem 0;
    border-radius: 0.5rem;
}

.boton:hover,
.boton:focus {
    outline: unset;
    background-color: #d4d4d4;

}
