:root {
    --primary-color: #FFD449;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    border: none;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    padding: 1rem;
}

body {
    font-size: 1.6rem;
    line-height: 2;
    font-family: var(--font-family);
    background-image: url('path_to_image.jpg');
    /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

h1 {
    font-size: 12rem;
    margin: 0;
}

button {
    display: block;
    width: 80rem;
    margin: 1.5rem;
    font-size: 4.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FF8C00;
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}
