:root {
    --primary-color: #FFD449;
    --font-family: "Architects Daughter", serif;
    --font-size-xlarge: 12rem;
    --font-size-large: 4rem;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    border: none;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
text-align: center;
    /* padding: 1rem; */
}

body {
    font-size: 1.6rem;
    line-height: 2;
    font-family: var(--font-family);
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: var(--font-size-xlarge);
    margin: 0;
    text-align: center;
}

.boton {
    display: block;
    width: 80rem;
    margin: 1.5rem;
    font-size: var(--font-size-large);
    border: none;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: black;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.boton:hover, .boton:focus {
    background-color: #FF8C00;
    outline: unset;
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}
