:root {
    --color-primary: #FFD449;
    --color-neutro: #767676;
    --color-black: #000;
    --font-general-size: 3rem;
    --font-family: "Architects Daughter", serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    border: none;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 2;
    background-image: url('../general/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header,
footer {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}

#siguiente {
    background-color: unset;
    color: var(--color-neutro);
    font-size: var(--font-general-size);
}

time,
#pista {
    background-color: unset;
    font-size: var(--font-general-size);
    align-self: center;
}

.content {
    text-align: center;
    margin: auto 10rem;
}

.content-top {
    background-color: var(--color-primary);
    border-radius: 0.5rem;
    height: 35.7rem;
}

#food-name {
    font-size: 5rem;
    margin: 0;
    line-height: 1.76;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

#food-name:focus {
    color: var(--color-black);
    text-shadow: 0 0 10px var(--color-black);
    outline: none;
}

.image-container {
    display: flex;
    justify-content: center;
}

#food-image {
    width: 30%;
    height: 24rem;
    border-radius: 0.5rem;
}

#feedback {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    padding: 4.2rem;
    border-radius: 50%;
}

#feedback.correct {
    background-color: #4caf50;
    content: "✔";
}

#feedback.incorrect {
    background-color: #f44336;
    content: "✖";
}

.hidden {
    display: none;
}

#info-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 0.5rem;
    max-width: 500px;
    text-align: center;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#next-item {
    background-color: var(--color-primary);
    margin-top: 0.8rem;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    width: 17rem;
    transition: background-color 0.5s ease;
    border-radius: 0.5rem;
}

#next-item:hover {
    background-color: #FF8C00;
}

#eleccion {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.btn-eleccion {
    background-color: var(--color-neutro);
    color: #fff;
    font-size: var(--font-general-size);
    padding: 2rem 11rem;
    cursor: pointer;
}

.btn-eleccion:hover,
.btn-eleccion:focus {
    background-color: #434343;
    outline: unset;
}

p {
    font-size: var(--font-general-size);
    margin: 0.8rem 0;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

p:focus {
    color: var(--color-black);
    text-shadow: 0 0 10px var(--color-black);
    outline: none;
}

footer {
    display: flex;
    align-items: center;
}

footer div {
    display: flex;
}

.icono {
    background-color: unset;
    height: 3rem;
}

a {
    color: inherit;
    text-decoration: none;
    outline: unset;
}

i:before {
    font-weight: unset;
}

a.icono:focus i {
    font-weight: unset;
}
