:root {
    --color-primary: #FFD449;
    --color-neutro: #909090;
    --font-general-size: 3rem;
    --color-black: #282c34;
    --font-family: "Architects Daughter", serif;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    border: none;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 2;
}

header,
footer {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}

#siguiente {
    background-color: unset;
    color: var(--color-neutro);
    font-size: var(--font-general-size);
}

time,
#pista {
    background-color: unset;
    font-size: var(--font-general-size);
    align-self: center;
}

.content {
    text-align: center;
    margin: auto 10rem;
}

.content-top {
    background-color: var(--color-primary);
    border-radius: 0.5rem;
    height: 35.7rem;
}

#food-name {
    font-size: 5rem;
    margin: 0;
    line-height: 1.76;
}

.image-container {
    display: flex;
    justify-content: center;
}

#food-image {
    width: 30%;
    height: 24rem;
    border-radius: 0.5rem;
}

#feedback {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    padding: 4.2rem;
    border-radius: 50%;
}

#feedback.correct {
    background-color: #4caf50;
    content: "✔";
}

#feedback.incorrect {
    background-color: #f44336;
    content: "✖";
}

.hidden {
    display: none;
}

#info-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 0.5rem;
    max-width: 500px;
    text-align: center;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#next-item {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#eleccion {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.btn-eleccion {
    background-color: var(--color-neutro);
    color: #fff;
    font-size: var(--font-general-size);
    padding: 2rem 11rem;
    border: 0.01rem solid var(--color-black);
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
}

p {
    font-size: var(--font-general-size);
    margin: 0;
}

footer {
    display: flex;
    align-items: center;
}

footer div {
    display: flex;
}

.icono {
    background-color: unset;
}
